<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</head>

<body>
    <div class="main">
        <div class="row header">


            <div class="col-sm-8">
                <h1 id="name">Britt Singletary, MA, ABD</h1>
            </div>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Research
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/research">View My Research</a>
                        <a class="dropdown-item" href="/people">Research Assitants</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>


        </div>
        <div class="container cv">
            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-8">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Education
                                    </button>
                                </h5>
                                <!-- <div class="row diff-font" id="bigger">
                                        <div class="col-sm-8">
                                            <p>Integrated Audio Video Solutions LLC</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>March 2018 - Present</p>
                                        </div>
                                    </div> -->
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body diff-font">

                                    <h5>2011 - Present</h5>
                                    <ul style="list-style-type:none">
                                        <li>University of Arizona, Tucson, AZ</li>
                                        <li> PhD Candidate in Anthropology</li>
                                         <li class = "bold">Dissertation Project:</li>
                                        <li>“Who cares? How caregivers influence communicative and cognitive development during early childhood.”</li>
                                    </ul>
                                    <h5>2011-2013</h5>
                                    <ul style="list-style-type:none">
                                        <li>University of Arizona, Tucson, AZ</li>
                                        <li>M.A. in Anthropology</li>
                                         <li class = "bold">Thesis:</li>
                                        <li>“Monogamy, pair-bonding, and complex signal use: A review of the Primate Order and a preliminary case study of Eulemur rubriventer.”
                                            </li>
                                    </ul>
                                    <h5>2010-2011</h5>
                                    <ul style="list-style-type:none">
                                        <li>Florida Atlantic University</li>
                                        <li>Anthropology Graduate Student</li>
                                        </ul>
                                    
                                        <h5>2007-2010</h5>
                                        <ul style="list-style-type:none">
                                            <li>University of Miami, Coral Gables, FL</li>
                                            <li>B.A. in Anthropology, Minor in Women’s and Gender Studies</li>
                                             <li class = "bold">Honors:</li>
                                            <li>Summa Cum Laude, Phi Beta Kappa, and 2010 Anthropology Departmental Honoree
                                                </li>
                                        </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Clinical Lab Assistant
                                    </button>
                                    <div class="row diff-font" id="bigger">
                                        <div class="col-sm-8">
                                            <p>Sonora Quest</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>March 2015 - November 2017</p>
                                        </div>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body diff-font">
                                    <ul>
                                        <li>Managed workflow for the general lab.</li>
                                        <li>Participated in projects to validate machinery and software functions.</li>
                                        <li>Maintained and improved laboratory inventory tracking and ordering.</li>
                                        <li>Ensured all testing of specimens was completed and all additional requests
                                            for testing were processed.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Research/Lab Aide
                                    </button>
                                    <div class="row diff-font" id="bigger">
                                        <div class="col-sm-8">
                                            <p>Laboratory for the Evolutionary Endocrinology of Primates</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>August 2013 – March 2015</p>
                                        </div>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body diff-font">
                                    <ul>
                                        <li>Extracted and assayed steroids from fecal samples.</li>
                                        <li>Prepared in-house assays (coated plates with antibody).</li>
                                        <li>Ran both in-house made and ELISA kits.</li>
                                        <li>Validated methods in new species.</li>
                                        <li>Trained undergraduate volunteers in all lab procedures.</li>
                                        <li>Experience with Gen5 data analysis software.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" id="UA-research" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Undergraduate Research Assistant
                                    </button>
                                    <div class="row diff-font" id="bigger">
                                        <div class="col-sm-8">
                                            <p>The University of Arizona</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>May 2012 – August 2013
                                            </p>
                                        </div>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body diff-font">
                                    <ul>
                                        <li>Used behavioral and acoustic data to investigate which signaling
                                            modalities were being used to maintain pair cohesion.</li>
                                        <li>Observed and recorded target behaviors and kept records in a field
                                            notebook.</li>
                                        <li>Converted data from field notebooks into excel spreadsheets.</li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="footer">
        <a href="https://www.linkedin.com/in/nicole-cortes-3bb291163/">
            <img src="../assets/images/linkedin-logo-bigger.png">
        </a>
        <a href="https://github.com/ncortes12">
            <img src="../assets/images/github-sign.png">
        </a>
        <a href="/contact">
            <img src="../assets/images/mail-black-envelope-symbol.png">
        </a>


    </div>









</body>

</html>